# Node modules
node_modules/

# Cypress output
cypress/videos/
cypress/screenshots/

# Cypress & Mochawesome reports
cypress/reports/
mochawesome-report/

# Ignore standalone test reports (not source files)
# You can keep specific *.html or *.json files tracked if needed
*.report.html
*.report.json

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment files
.env

# System files
.DS_Store
Thumbs.db

# VS Code settings
.vscode/
